@import url("reset.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.container {
  margin: 0 auto;
  max-width: 1030px;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
.background {
  background-image: url("../img/background\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1366px;
  background-position: center;
}
.header {
  padding-top: 46px;
  margin-bottom: 22px;
}
.header__nav a,
p {
  color: white;
}
.milan {
  font-weight: 700;
  font-size: 29px;
}
.holiday {
  font-size: 18px;
  font-weight: 700;
}
.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__logo_wrap {
  display: flex;
}
.header__logo_text {
  display: flex;
  flex-direction: column;
}
img {
  margin-right: 8px;
}
.header__links__mail {
  font-size: 18px;
  margin-bottom: 19px;
}
.header__links {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.main__nav_wrap {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 61px;
  row-gap: 37px;
}
.main__nav_item p {
  margin-top: 20px;
}
.main__nav_item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
.main__nav_item img {
  margin-bottom: 20px;
}
main {
  margin-bottom: 50px;
}
.footer__wrap {
  display: flex;
  justify-content: center;

  font-size: 12px;
}
footer {
  padding-bottom: 15px;
}
.header__logo_text:hover {
  color: #f26522;
}

.header__links p:hover {
  color: #f26522;
}
.header__links a:hover {
  color: #f26522;
}

.main__nav_item p:hover {
  color: #f26522;
}

.change-photo:nth-of-type(2) {
  display: none;
}

.header__logo_wrap:hover .change-photo:nth-of-type(1) {
  display: none;
}

.header__logo_wrap:hover .change-photo:nth-of-type(2) {
  display: block;
}
.header__logo_wrap:hover .header__logo_text {
  color: #f26522;
}

.header__logo_wrap:hover {
  cursor: pointer;
}

.card__content {
  position: relative;
}
.overlay {
  background-color: #f26522;
  position: absolute;
  height: 55px;
  width: 100%;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  justify-content: space-between;
}
.overlay span {
  color: white;
}
.overlay__price {
  margin-left: 16px;
}

.overlay__price__small {
  font-size: 10px;

  margin-bottom: 8px;
}
.overlay__price__upper {
  font-size: 20px;
}
.overlay__details {
  margin-top: 25px;
  font-size: 14px;
}
.main__nav_item:hover .overlay {
  opacity: 1;
}
.overlay__details span {
  margin-right: 37px;
}
.arrow {
  position: relative;
  margin: 10px;
  padding-left: 45px;
  line-height: 64px;
}
.arrow::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 15px;
  left: 70px;
  width: 8px;
  height: 8px;
  border-right: 1px solid white;
  border-top: 1px solid white;
  transform: rotate(45deg);
}
.card__content {
  width: 300px;
  height: 220px;
  background-repeat: no-repeat;
}
